<header>
  <nav>
    <ul>
      <li><%= link_to 'Home', root_path %></li>
      <li><%= link_to 'About', about_page_path %></li>
      <li><%= link_to '12 lizards', lizards_path(number: "12") %></li>
      <li><%= link_to '444 lizards', lizards_path(number: "444") %></li>
      <li><%= link_to '9672 lizards', lizards_path(number: "9672") %></li>
    </ul>
  </nav>
</header>